<!DOCTYPE html>
<html>
<head>
  <title>Vacation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>
<body>

  <div id="fb-root"></div>


  <% if @current_user %>
    <%= link_to "Sign out", sign_in_path, method: :delete %>
    <% else %>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "Sign in", sign_in_path %>

<% end %>



<%= yield %>

</body>
</html>
